.hr-img
	background: url('https://github.com/hastura/imn-project/blob/master/assets/images/man-coffee-cup-pen.jpg?raw=true') center center
	background-size: cover
	width: 100%
	height: 800px
	.hr-cntn
		position: relative
		top: 500px
		.lbl-txt
			width: 935px
			height: 60px
			background: rgba(0,0,0,0.50)
			text-align: center
			text-transform: uppercase
			padding: 10px 15px
			color: #fff
			position: relative
			p
				font-size: 1.5rem
				font-weight: bolder