.hr-img
	background: $home-hero-image
	background-size: cover
	width: 100%
	height: 800px
	.hr-cntn
		position: relative
		top: 500px
		.lbl-txt
			width: 935px
			height: 60px
			background: $black-alpha
			text-align: center
			text-transform: uppercase
			padding: 10px 15px
			color: $white
			position: relative
			p
				font-size: 1.5rem
				font-weight: bolder