.prd-srvs
	width: 100%
	height: auto
	padding: 0 0 10px  0
	.prdsrvs-cntn
		.prdsrvs-title
			margin: 30px auto
		.card
			width: $width
			.card-img-top
				height: $height
				width: $width
				display: block
			.card-body
				background-color: $grey
				.card-text
					overflow: hidden
					text-overflow: clip
					height: 170px
				.d-flex
					.btn-group
						.btn-prd
							color: $white
							background-color: $blue
			